.iheb{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bobo{
  border: none;
  background-color: white;
  text-decoration: underline;
}

.sred{
  color: red;
}

.sgreen{
  color: green;
}